<div class="feedback-vertical-navigation-item-wrapper" [class.feedback-vertical-navigation-item-has-subtitle]="!!item.subtitle" [ngClass]="item.classes?.wrapper">
    <ng-container *ngIf="item.link && !item.externalLink && !item.function && !item.disabled">
        <a class="feedback-vertical-navigation-item"
            [ngClass]="{'feedback-vertical-navigation-item-active-forced': item.active}"
            [routerLink]="[item.link]"
            [fragment]="item.fragment ?? null"
            [preserveFragment]="item.preserveFragment ?? false"
            [queryParams]="item.queryParams ?? null"
            [queryParamsHandling]="item.queryParamsHandling ?? null"
            [routerLinkActive]="'feedback-vertical-navigation-item-active'"
            [routerLinkActiveOptions]="isActiveMatchOptions"
            [matTooltip]="item.tooltip || ''">
            <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
        </a>
    </ng-container>

    <ng-container *ngIf="item.link && item.externalLink && !item.function && !item.disabled">
        <a class="feedback-vertical-navigation-item" [href]="item.link" [target]="item.target || '_self'" [matTooltip]="item.tooltip || ''">
            <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
        </a>
    </ng-container>

    <ng-container *ngIf="!item.link && item.function && !item.disabled">
        <div class="feedback-vertical-navigation-item" [ngClass]="{'feedback-vertical-navigation-item-active-forced': item.active}" [matTooltip]="item.tooltip || ''" (click)="item.function(item)">
            <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf="item.link && !item.externalLink && item.function && !item.disabled">
        <a class="feedback-vertical-navigation-item"
            [ngClass]="{'feedback-vertical-navigation-item-active-forced': item.active}"
            [routerLink]="[item.link]"
            [fragment]="item.fragment ?? null"
            [preserveFragment]="item.preserveFragment ?? false"
            [queryParams]="item.queryParams ?? null"
            [queryParamsHandling]="item.queryParamsHandling ?? null"
            [routerLinkActive]="'feedback-vertical-navigation-item-active'"
            [routerLinkActiveOptions]="isActiveMatchOptions"
            [matTooltip]="item.tooltip || ''"
            (click)="item.function(item)">
            <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
        </a>
    </ng-container>

    <ng-container *ngIf="item.link && item.externalLink && item.function && !item.disabled">
        <a class="feedback-vertical-navigation-item" [href]="item.link" [target]="item.target || '_self'" [matTooltip]="item.tooltip || ''" (click)="item.function(item)">
            <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
        </a>
    </ng-container>

    <ng-container *ngIf="!item.link && !item.function && !item.disabled">
        <div class="feedback-vertical-navigation-item" [ngClass]="{'feedback-vertical-navigation-item-active-forced': item.active}" [matTooltip]="item.tooltip || ''">
            <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf="item.disabled">
        <div class="feedback-vertical-navigation-item feedback-vertical-navigation-item-disabled" [matTooltip]="item.tooltip || ''">
            <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
        </div>
    </ng-container>

</div>

<ng-template #itemTemplate>
    <ng-container *ngIf="item.icon">
        <mat-icon class="feedback-vertical-navigation-item-icon" [ngClass]="item.classes?.icon" [svgIcon]="item.icon"></mat-icon>
    </ng-container>

    <div class="feedback-vertical-navigation-item-title-wrapper">
        <div class="feedback-vertical-navigation-item-title">
            <span [ngClass]="item.classes?.title">
                {{item.title}}
            </span>
        </div>
        <ng-container *ngIf="item.subtitle">
            <div class="feedback-vertical-navigation-item-subtitle">
                <span [ngClass]="item.classes?.subtitle">
                    {{item.subtitle}}
                </span>
            </div>
        </ng-container>
    </div>

    <ng-container *ngIf="item.badge">
        <div class="feedback-vertical-navigation-item-badge">
            <div class="feedback-vertical-navigation-item-badge-content" [ngClass]="item.badge.classes">
                {{item.badge.title}}
            </div>
        </div>
    </ng-container>
</ng-template>
